

 

/* 
.inside_box_tab {
    border: 1px solid rgba(1, 37, 85, 0.1);
    border-radius: 15px;
} */

/* .inside_box_b {
    padding: 0px 10px;
} */



/* .inside_box_b .img_tab_sec {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgba(1, 37, 85, 0.08);
    padding: 25px 32px;
} */

.tab_sec_ot .tab_ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.inside_box_b .tab_btn {
    padding-top: 30px;
}



.tab_btn_box {
    display: flex;
    justify-content: space-between;
    max-width: 1036px;
    margin: auto;
    width: 100%;
    border: 1px solid rgba(1, 37, 85, 0.3);
    padding: 8px 10px;
    border-radius: 100px;
    margin-bottom: 50px;

}






.outer_foot_bg {
    background-color: rgba(1, 37, 85, 1);
    padding: 100px 0px 0px 0px;
}





.card_sec_out .in_card_bg {
    background-image: url('../img/in_card_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* .card_sec_out .card_ot_lyr {
    max-width: 660px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 58px 68px;
    border-radius: 25px;
} */







/* .outer_cate .in_box_cate {
    border: 1px solid rgba(1, 37, 85, 0.2);
    padding: 50px 24px 37px 24px;
    border-radius: 25px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
} */

.outer_cate .cata_h {
    text-align: center;
    margin-bottom: 30px;
}

.outer_cate .in_cate_para {
    padding-top: 12px;
}

.outer_cate .in_cate_content {
    margin-top: 27px;
}

.outer_cate .cata_btn{
    margin-top: auto;
}

.tab_sec_ot .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.tab_sec_ot .tab {
    position: relative;
    max-width: 1036px;
    margin: auto;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 8px 10px;
    border: 2px solid #0125554D;
    border-radius: 100px;
}

/* .tab_sec_ot .btn {
    position: relative;
    padding: 8px 16px;
    border: 0;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    transition: background-color .3s;
    font-size: 18px;
    font-weight: 600;
}

.tab_sec_ot .btn:hover {
    background-color: #FD5602;
    color: #fff;
} */
.tab_text {
    padding: 0px 50px 0px 0px;
}

.tab_sec_ot .tabContentWrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.tab_sec_ot .tabContent {
    display: none;
    opacity: 0;
    transition: opacity 2s;

}

.tab_sec_ot .show {
    display: block;
    opacity: 1;
}

.tab_sec_ot .active {
    background-color: #FD5602;
    color: #fff;

}

.tab_sec_ot .slick-dots li button:before {
    color: #002655 !important;
    opacity: 0.2;
    font-size: 18px;
}

.tab_sec_ot .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #002655 !important;

}

/* ======== remove following css in style.css ========= */

/* ********(banner_sec)*********** */
.banner_sec.dark.inner-banner.fun-banner h1 {
    /* max-width: 429px; */
    margin: auto
}








/* ********(acerca_sec)*********** */

.acerca_sec .row .acerca-txt h2.b-dark {
    max-width: 624px;
    margin-bottom: 15px;
}


/* ======== REPLACE vision_sec's CSS WITH THE PREVIOUS ONE PRESENT IN STYLE.CSS ========= */

/* ********(27/9/24)*********** */

/* ********(vision_sec)*********** */

.vision_sec .row.sec-row {
    padding-inline: 50px;
    text-align: center;
    border-radius: 25px;
}

.vision_sec .row.sec-row .hv-brdr {
    border-right: 1px solid #FFFFFF26
}




.vision_sec .row.sec-row .vision .vision-img {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fff;
    border-radius: 10px;
}




/* ********( v-ofr_sec)*********** */

.acerca_sec.v-ofr_sec .acerca-txt ul.ofrs li span {
    color: #010101;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
}

.acerca_sec.v-ofr_sec .acerca-txt p.size18 {
    max-width: 683px;

}

.acerca_sec.v-ofr_sec .acerca-txt ul.ofrs li.size18 {
    max-width: 656px;
    line-height: 1.3;
    margin-top: 19px;
}

/* *************** Términos y condiciones PAGE *************** */

/* ********(banner-sec)***********  */

.banner_sec.dark.inner-banner.tc .banner_content h1 {
    max-width: 815px;
}

.banner_sec.dark.inner-banner.tc .banner_content p {
    max-width: 764px;
}

/* ********(tc-sec)***********  */



/* ********(30/9/24)*********** */

/* ********(tc-sec)***********  */
.tc-sec .col-lg-4 .tc-index{
    position: sticky;
    top: 0;
}
.tc-sec .col-lg-4 .tc-index p.size18 {
    font-weight: 600;
}

.tc-sec .col-lg-4 .tc-index ol.tc-links li.tc-item a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
}

.tc-sec .col-lg-4 .tc-index ol.tc-links li.tc-item a:hover {
    color: #010101;
}

.tc-sec .col-lg-4 .tc-index ol.tc-links {
    position: relative;
}

.tc-sec .col-lg-4 .tc-index ol.tc-links:hover {
    cursor: pointer;
}

.tc-sec .col-lg-4 .tc-index ol.tc-links::after {
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    background-color: rgba(2, 7, 52, 0.1);
    width: 1px;
    left: 18px;
    height: 100%;
    transform: translateX(-50%);
}

.tc-sec .col-lg-4 .tc-index ol.tc-links li.tc-item.active a {
    color: #012555;
    font-weight: 600;

}

.tc-sec .col-lg-4 .tc-index ol.tc-links li.tc-item.active::before {
    color: #012555;
    font-weight: 600;
}

.tc-sec .col-lg-4 .tc-index ol.tc-links li.tc-item.active {
    position: relative;
}

.tc-sec .col-lg-4 .tc-index ol.tc-links li.tc-item.active::after {
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    background-color: #012555;
    width: 1px;
    left: -15px;
    height: 100%;
    transform: translateX(-50%);
}

.tc-sec .col-lg-4 .tc-index ol.tc-links li.tc-item {
    counter-increment: my-awesome-counter;
    display: flex;
    align-items: baseline;
    width: 100%;
    font-size: 14px;
    padding-block: 6px;
}

.tc-sec .col-lg-4 .tc-index ol.tc-links li.tc-item::before {
    content: counter(my-awesome-counter);
    margin-right: 0.5rem;
    font-size: 14px;
    width: 25px;
    height: 25px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

}
.tc-sec .col-lg-4 .tc-index ol.tc-links li.tc-item:last-child {
    padding: 0;
}

.tc-sec .col-lg-8 h2.b-dark {
    margin-bottom: 37px;
}

.tc-sec .col-lg-8 .tc-h6 {
    font-size: 26px;
    font-weight: 700;
    line-height: 33.57px;
    text-align: left;
    margin-bottom: 13px;
}

.tc-sec .col-lg-8 .tc-cntnt {
    padding-bottom: 43px;
}

.tc-sec .col-lg-8 .tc-cntnt:last-child {
    padding-bottom: 0;
}