.span1 {
    font-weight: 600;
}


.cta_org {
    background-color: #FD5602;
    padding: 12px 12px;
    width: 100%;
    text-align: center;
    display: block;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
    border: 1px solid #FD5602;
}
.cta_org:hover img{
    filter: brightness(0.5);
    transition: 0.5s ease;
}
 .cta_org:hover {
    color: #FD5602;
    background-color: #fff;
    border: 1px solid #FD5602;
} 


.inside_box_tab {
    border: 1px solid rgba(1, 37, 85, 0.1);
    border-radius: 15px;
}

.inside_box_b {
    padding: 0px 10px;
}

.inside_box_b .cont_tab_ot {
    padding: 20px 25px 25px 25px;
}

.inside_box_b .img_tab_sec {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: rgba(1, 37, 85, 0.08);
    padding: 25px 32px;
}

.tab_sec_ot .tab_ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.inside_box_b .tab_btn {
    padding-top: 30px;
}

.heading_sec_tabs {
    padding-bottom: 23px;
    text-align: center;
}



.tab_btn_box {
    display: flex;
    justify-content: space-between;
    max-width: 1036px;
    margin: auto;
    width: 100%;
    border: 1px solid rgba(1, 37, 85, 0.3);
    padding: 8px 10px;
    border-radius: 100px;
    margin-bottom: 50px;

}






.outer_foot_bg {
    background-color: rgba(1, 37, 85, 1);
    padding: 100px 0px 50px 0px;
}

footer .foot_ul {
    list-style-type: none;
    padding-left: 0;
}

footer .foot_h {
    margin-bottom: 15px;
}

footer .foot_h h5 {
    font-weight: 700;
}

footer .foot_li {
    line-height: 40px;
}

footer .foot_end_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .in1_foot {
    padding-bottom: 60px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}




/* footer .select-menu {
    max-width: 330px;
    margin: 50px auto;
  } */
footer .select-menu .select-btn {
    display: flex;
    height: 55px;
    background: transparent;
    color: #fff;
    /* padding: 20px; */
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer .select-menu .options {
    position: absolute;
    width: 330px;
    overflow-y: auto;
    max-height: 295px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
    bottom: 100%;
    right: 0;
}

footer .select-menu .options .option {
    display: flex;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

footer .select-menu .options .option:hover {
    background: #f2f2f2;
}

footer .select-menu .options .option i {
    font-size: 25px;
    margin-right: 12px;
}

footer .select-menu .options .option .option-text {
    font-size: 18px;
    color: rgba(1, 37, 85, 1);
    font-weight: 700;
}

footer .select-btn i {
    margin-left: 10px;
    font-size: 15px;
    transition: 0.3s;
}

footer .select-menu.active .select-btn i {
    transform: rotate(-180deg);
}

footer .select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 30px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        transform: translate3d(0, 20px, 0);
        opacity: 0;
    }
}

footer .select-menu {
    position: relative;
}




.card_sec_out .in_card_bg {
    background-image: url('../img/in_card_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_sec_out .card_ot_lyr {
    max-width: 660px;
    width: 100%;
    margin: auto;
    background-color: #fff;
    padding: 58px 68px;
    border-radius: 25px;
}

.card_sec_out .othr_platform a {
    display: block;
    padding: 19px 20px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.card_sec_out .othr_platform a:hover {
    background-color: rgba(1, 37, 85, 1);
    color: #fff;
}

.ot_plat {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card_sec_out .google {
    position: relative;
    background-color: rgba(219, 68, 55, 1);
}

.card_sec_out .facebook {
    position: relative;
    background-color: rgba(24, 119, 242, 1);
}

.card_sec_out .email {
    position: relative;
    border: 1px solid rgba(224, 223, 224, 1);
    color: #000;
}

.outer_cate .in_box_cate {
    border: 1px solid rgba(1, 37, 85, 0.2);
    padding: 50px 24px 37px 24px;
    border-radius: 25px;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.outer_cate .cata_h {
    text-align: center;
    margin-bottom: 30px;
}

.outer_cate .in_cate_para {
    padding-top: 12px;
}

.outer_cate .in_cate_content {
    margin-top: 27px;
}

.outer_cate .cata_btn{
    margin-top: auto;
}

.tab_sec_ot .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.tab_sec_ot .tab {
    position: relative;
    max-width: 1036px;
    margin: auto;
    margin-bottom: 40px;
    overflow: hidden;
    padding: 8px 10px;
    border: 2px solid #0125554D;
    border-radius: 100px;
}

.tab_sec_ot .btn {
    position: relative;
    padding: 18px 20px;
    border: 0;
    border-radius: 50px;
    display: inline-block;
    cursor: pointer;
    transition: background-color .3s;
    font-size: 18px;
    font-weight: 600;
}

.tab_sec_ot .btn:hover {
    background-color: #FD5602;
    color: #fff;
}
.tab_text {
    padding: 0px 50px 0px 0px;
}

.tab_sec_ot .tabContentWrap {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}

.tab_sec_ot .tabContent {
    display: none;
    opacity: 0;
    transition: opacity 2s;

}

.tab_sec_ot .show {
    display: block;
    opacity: 1;
}

.tab_sec_ot .active {
    background-color: #FD5602;
    color: #fff;

}

.tab_sec_ot .slick-dots li button:before {
    color: #002655 !important;
    opacity: 0.2;
    font-size: 18px;
}

.tab_sec_ot .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #002655 !important;

}