@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden;
}

.size18 {
    font-size: 18px;
}

.size20 {
    font-size: 20px;
}

.light {
    color: #000000;
}

.light h1,
.light h2,
.light h3,
.light h4,
.light h5,
.light h6 {
    color: #000000;

}

.dark,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
    color: #ffffff;
}

h1 {
    font-size: 89px;
    font-weight: 700;
    line-height: 1.1;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58.51px;
}

h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    text-align: center;

}

h5 {}

h6 {
    font-size: 22px;
}

p {
    line-height: 1.5;
}



img {
    max-width: 100%;
}

a,
button {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    color: inherit;
}

a:hover,
button:hover {
    text-decoration: none;
    outline: none;

}

a:focus,
button:focus {
    text-decoration: none;
    outline: none;

}

input:focus {
    outline: none;
}

.p_120 {
    padding: 120px 0px;
}

.p_140 {
    padding: 140px 0px;
}

header {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    padding-top: 20px;
}

.main_header {
    padding-top: 30px;
}

.banner_sec {
    padding-top: 270px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header ul.menu {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 0 40px;
}

header .menu>li.menu-item>a {
    color: #ffffff;
    font-size: 14px;
}

header .menu>li.menu-item>a img {
    margin-right: 6px;
}

header .menu-item span.dropdown_toggle {
    color: #ffffff;
    font-size: 14px;
}

header .menu li.menu-item {
    position: static;
}

nav.navbar.navbar-expand-lg {
    position: static;
    padding: 0px !important;
}

.dropdown_menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown_menus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .menu .dropdown_menu {
    padding: 0px;
    list-style: none;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    padding: 25px 50px;
    z-index: 999;
}

span.dropdown_tittle {
    font-size: 14px;
    font-weight: 600;
    line-height: 14.63px;
    color: #fff;
}

header .dropdown_menu li a {
    display: block;
    color: #000000;
    font-size: 15px;
    padding: 4px 0;
    font-weight: 500;
}

.dropdown_content h6 {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Montserrat';
}

header .dropdown_menu li a i {
    background-color: #d8efef;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

header .dropdown_menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .container-fluid {
    padding: 0px 50px;
}

div#navbarSupportedContent {
    justify-content: space-between;
}

.right_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 60px;
}

.top_header {
    position: relative;
}

.right_menu ul li a {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.right_menu ul a:hover {
    color: #F9633B;
}


.banner_img img {
    width: 100%;
}

.banner_img {
    max-width: 583px;
    margin-left: auto;
}

/*  */

.banner_sec .search {
    width: 100%;
    position: relative;
    display: flex;
    border: 1px solid #E3E9ED;
    background-color: #fff;
    padding: 8px;
    border-radius: 160px;
}

.banner_sec .searchTerm {
    width: 100%;
    padding: 0 20px;
    background-color: transparent;
    border: 0;
    outline: none;
}

.banner_sec .searchTerm:focus {
    color: #000000;
}

.banner_sec .searchButton {
    text-align: center;
    color: #fff;
    border-radius: 110px;
    cursor: pointer;
    font-size: 18px;
    background: #FD5602;
    outline: none;
    padding: 17px 33px;
    font-weight: bold;
    border-color: #FD5602;
}


.banner_sec .search_bar {
    position: relative;
    margin-top: 30px;
}

.banner_sec .searchButton:hover {
    background-color: #fff;
    color: #FD5602;
}

.main_header .cta_dark {
    background: #FD5602;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    color: #fff;
    padding: 18px 26px;
    border-radius: 130px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.hedaer_bnt {
    text-align: right;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.main_header .cta_light {
    border: 1px solid #FFFFFF;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.63px;
    color: #fff;
    border-radius: 130px;
    padding: 18px 30px;
    display: inline-block;
}

.cta_light:hover {
    background: #FD5602;
    border-color: #FD5602;
    color: #fff;
}

.hedaer_bnt .cta_dark i {
    font-size: 16px;
}

.main_header .cta_dark:hover {
    background: #fff;
    color: #FD5602;
}

.Comienza_bg {
    padding: 100px;
    border-radius: 25px;
}

.Comienza-img img {
    width: 100%;
}

.Comienza-img {
    padding-right: 20px;
}

.Comienza-content {
    padding-left: 20px;
}

.control_box {
    background: #FFFFFF;
    border: 1px solid #0026551C;
    border-radius: 25px;
    padding: 40px;
    height: 100%;
}

.clientes_slider .slick-slide {
    height: 100%;
    margin: 0px 15px;
}

.control_box .d-flex {
    align-items: center;
    gap: 20px;
}

.control_box .d-flex h6 {
    font-size: 18px;
    margin: 0;
}

.control_box .d-flex span {
    font-size: 18px;
    color: #6D6E70;
    font-weight: 500;
}

.clientes_slider .star_img {
    padding: 20px 0px;
}

.control_box p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.clientes_slider .btn-wrap {
    margin-top: 20px;
}
.control_box span {
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    color: #6D6E70;
}

.clientes_slider button {
    outline: none;
    border: 0;
    background: transparent;
    box-shadow: none;
}